.chat-message-bar {
    max-height: 64px;
    background-color: $clr-grey-200;
    &__input {
        width: 100%;
        padding: 5px 10px;
        border: none;
        font-size: 14px;
        line-height: 24px;
        display: block;
        border-radius: $radius;
        &:focus{
            outline: none;
        }
    }
}
