.chat-options {
    &__navigation {
        min-height: 48px;
        max-height: 48px;
        background-color: $clr-teal-600;
    }
    &__list {
        min-height: calc(100vh - 48px);
        display: relative;
    }
    &__list-item {
        &--active {
            background-color: $clr-green-100;
            .chat-options {
                &__room-name {
                    font-weight: 500;
                    color: $clr-green-700;
                }
            }
        }
    }
    @media screen and (min-width: 960px) {
        &__navigation {
            min-height: 64px;
            max-height: 64px;
        }
        &__list {
            min-height: calc(100vh - 64px);
        }
    }
}
